.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 0px;
}

.navbar{
margin-bottom:0px;}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* #################################################################################### */

#packconverter .control-label {
  width: 150px;
}

.navbar-brand {
  font-size: 25px;
  color: #000000 !important;
}

#buttons {
  margin-top: 10px;
}

.item {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.item img {
  display: block;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; // IE8
  filter: alpha(opacity=100); // IE 5-7
  opacity: 1;
}

.item img:hover {
  -ms-transform: scale(0.8,0.8); /* IE 9 */
  -webkit-transform: scale(0.8,0.8); /* Safari */
  transform: scale(0.8,0.8);

  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // IE8
  filter: alpha(opacity=50); // IE 5-7
  opacity: 0.5;
}

p.title {
  display: block;
  font-size: 18px;
  color: #000;
  padding: 12px;
  text-align: center;
}

.item:hover p.title, .item:hover a {
  color: #333;
  text: none;
}

.main h2 {
  background: #000;
  color: #fff;
  font-size: 25px;
  height: 80px;
  margin: 0;
  padding: 10px;
  position: relative;
  width: 130px;
  z-index: 1;
}

.main .search {
  width: 200px;
  position: absolute;
  top: 70px;
  right: 10px;
  margin-right: 10px;
}

.guide-button {
  margin-top: 10px;
}

.Padding-remove-left {
  padding-left: 0 !important;
}

.Padding-remove-top{
  padding-top: 0 !important;
}

.navbar-logo{
  margin-left: 15px;
}

/* Sidebar                                               */
.freight_title {
  font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
  font-style: inherit;
  font-weight: 200;
  color: #000066;
}





